---
---
<!-- More -->
<section id="page-more" class="page container">
  <h1 class="largeTitle">More</h1>

  <ul class="list">
    <li class="list-item">
      <button class="list-item--button" id="button-upcoming-shows">
        <span class="label">Upcoming shows</span>
        {% include interface/icon-chevron.svg %}
      </button>
    </li>
    <li class="list-item">
      <button class="list-item--button" id="button-about">
        <span class="label">About</span>
        {% include interface/icon-chevron.svg %}
      </button>
    </li>  
  </ul>
</section>