.hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.hidden-phone {
  @include phone {
    display: none !important;
  }
}

section#app {
  position: 	relative;
  display: 	    block;

  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

section#app-panel {
	min-height: 100vh;
}

section#app[data-event='unknown'] {
  section#voting-unknown {
    display: block;
  }
  section#voting-closed,
  section#voting-open {
    display: none;
  }
}

section#app[data-event='NONE'] {
  section#voting-unknown {
    display: none;
  }
  section#voting-closed {
    display: block;
  }
  section#voting-open {
    display: none;
  }
}

section#app[data-event='SF1'],
section#app[data-event='SF2'],
section#app[data-event='FINAL'],
section#app[data-event='TEST'] {
  section#voting-unknown {
    display: none;
  }
  section#voting-closed {
    display: none;
  }
  section#voting-open {
    display: block;
  }
}

main.container,
section.container,
div.container {

	display: grid;

	@include toggleSizes(max-width, 100vw, 100vw, 600px, 700px, 1000px);

	margin: 0 auto;
	padding: 0 $container-padding;

}

section#voting-unknown {
  width: 100%;
  height: 100vh;
  
  h1 {
    text-align: center;
  }
}