//	SASS VARIABLES
//	All variables should go in this file

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// BREAKPOINTS AND CONTAINER SIZING
//

// Breakpoints
$breakpoints: (
    "xs": 0,
    "sm": 600px,
    "md": 768px,
    "lg": 1024px,
    "xl": 1400px
);

$containers: (
    "xs":    300px,
    "sm":    560px,
    "md":    600px,
    "lg":    800px,
    "xl":    900px
);

$container-padding: 	 			15px;

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// FONTS

// Font face
$font-family: -apple-system, "Helvetica Neue", Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Feature settings
$font-feature-settings:				"ss02", "tnum", "liga", "zero", "kern";
$sup-font-feature-settings:			"ss02", "tnum", "liga", "zero", "kern", "frac";

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// COLOURS

// PALETTE
// See variables/_colours.scss

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// TEXT SIZES

// PARAGRAPH TEXT
// Applies to 'p' and equivalent text
$body: (
    "font-size": (
        "xs": 14pt,
        "sm": 15pt,
        "md": 16pt,
        "lg": 17pt,
        "xl": 19pt
    ),
    "line-height": (
        "xs": 19pt,
        "sm": 20pt,
        "md": 21pt,
        "lg": 22pt,
        "xl": 24pt
    ),
    "padding": (
        "xs": 0 0 14pt 0,
        "sm": 0 0 15pt 0,
        "md": 0 0 16pt 0,
        "lg": 0 0 17pt 0,
        "xl": 0 0 19pt 0
    ),
    "font-weight":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$lead: (
    "font-size": (
        "xs": 18pt,
        "sm": 19pt,
        "md": 20pt,
        "lg": 21pt,
        "xl": 23pt
    ),
    "line-height": (
        "xs": 23pt,
        "sm": 24pt,
        "md": 25pt,
        "lg": 26pt,
        "xl": 28pt
    ),
    "padding": (
        "xs": 0 0 14pt 0,
        "sm": 0 0 15pt 0,
        "md": 0 0 16pt 0,
        "lg": 0 0 17pt 0,
        "xl": 0 0 19pt 0
    ),
    "font-weight":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$toggle: (
    "font-size": (
        "xs": 9pt,
        "sm": 9pt,
        "md": 10pt,
        "lg": 11pt,
        "xl": 13pt
    ),
    "line-height": (
        "xs": 7pt,
        "sm": 8pt,
        "md": 9pt,
        "lg": 10pt,
        "xl": 12pt
    ),
    "padding": (
        "xs": 0 0 7pt 0,
        "sm": 0 0 8pt 0,
        "md": 0 0 9pt 0,
        "lg": 0 0 10pt 0,
        "xl": 0 0 12pt 0
    ),
    "font-weight":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$label: (
    "font-size": (
        "xs": 7pt,
        "sm": 8pt,
        "md": 9pt,
        "lg": 10pt,
        "xl": 12pt
    ),
    "line-height": (
        "xs": 7pt,
        "sm": 8pt,
        "md": 9pt,
        "lg": 10pt,
        "xl": 12pt
    ),
    "padding": (
        "xs": 0 0 7pt 0,
        "sm": 0 0 8pt 0,
        "md": 0 0 9pt 0,
        "lg": 0 0 10pt 0,
        "xl": 0 0 12pt 0
    ),
    "font-weight":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

// TITLES

$largeTitle: (
    "font-size": (
        "xs": 30pt,
        "sm": 43pt,
        "md": 44pt,
        "lg": 46pt,
        "xl": 48pt
    ),
    "line-height": (
        "xs": 35pt,
        "sm": 50pt,
        "md": 51pt,
        "lg": 53pt,
        "xl": 53pt
    ),
    "padding": (
        "xs": 30pt 0 30pt,
        "sm": 43pt 0 43pt,
        "md": 44pt 0 44pt,
        "lg": 78pt 0 46pt,
        "xl": 80pt 0 48pt
    ),
    "font-weight":  (
        "xs": 900,
        "sm": 900,
        "md": 900,
        "lg": 900,
        "xl": 900
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": uppercase,
        "sm": uppercase,
        "md": uppercase,
        "lg": uppercase,
        "xl": uppercase
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$title1: (
    "font-size": (
        "xs": 25pt,
        "sm": 26pt,
        "md": 27pt,
        "lg": 28pt,
        "xl": 30pt
    ),
    "line-height": (
        "xs": 31pt,
        "sm": 32pt,
        "md": 33pt,
        "lg": 34pt,
        "xl": 36pt
    ),
    "padding": (
        "xs": 25pt 0,
        "sm": 26pt 0,
        "md": 27pt 0,
        "lg": 28pt 0,
        "xl": 30pt 0
    ),
    "font-weight":  (
        "xs": 600,
        "sm": 600,
        "md": 600,
        "lg": 600,
        "xl": 600
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$title2: (
    "font-size": (
        "xs": 19pt,
        "sm": 20pt,
        "md": 21pt,
        "lg": 22pt,
        "xl": 24pt
    ),
    "line-height": (
        "xs": 25pt,
        "sm": 26pt,
        "md": 27pt,
        "lg": 28pt,
        "xl": 30pt
    ),
    "padding": (
        "xs": 19pt 0,
        "sm": 20pt 0,
        "md": 21pt 0,
        "lg": 22pt 0,
        "xl": 24pt 0
    ),
    "font-weight":  (
        "xs": 600,
        "sm": 600,
        "md": 600,
        "lg": 600,
        "xl": 600
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$title3: (
    "font-size": (
        "xs": 17pt,
        "sm": 18pt,
        "md": 19pt,
        "lg": 20pt,
        "xl": 22pt
    ),
    "line-height": (
        "xs": 22pt,
        "sm": 23pt,
        "md": 24pt,
        "lg": 25pt,
        "xl": 27pt
    ),
    "padding": (
        "xs": 17pt 0,
        "sm": 18pt 0,
        "md": 19pt 0,
        "lg": 20pt 0,
        "xl": 22pt 0
    ),
    "font-weight":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

// Other styles
$font-style-h1:			normal;
$text-align--h1:		left;
$text-decoration--h1:	none;
$text-transform--h1:	none;

// Other styles
$font-style-h2:			normal;
$text-align--h2:		center;
$text-decoration--h2:	none;
$text-transform--h2:	none;

// Other styles
$font-style-h3:			normal;
$text-align--h3:		left;
$text-decoration--h3:	none;
$text-transform--h3:	none;

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// FORM ELEMENTS

$touch-target-size:                 44px;

$input-size:                       	40px;
$border-width-form-element:         3px;
$border-focus-width:                1px;
$input-padding:                     5px;

$radios-size:                       40px;
$radios-label-padding-left-right:   20px;