<article class="country-scorecard" id="scorecard-{{ entry.shortcode }}" 
  data-semifinalone="{{ entry.semifinalone }}" 
  data-semifinaltwo="{{ entry.semifinaltwo }}" 
  data-final="{{ entry.final }}" 
  data-runningorder="" 
  data-rank="1" 
  data-votes="?" 
  data-voters="?">

  <header class="score--header">
    <span class="country">{{ entry.country }}</span>
  </header>
  <section class="score--content">
    <span id="scorecard-{{ entry.shortcode }}-score" class="score">⋯</span>
  </section>
  
</article>