<article class="country-scorecard" id="scorecard-{{ entry.shortcode }}" 
  data-semifinalone="{{ entry.semifinalone }}" 
  data-semifinaltwo="{{ entry.semifinaltwo }}" 
  data-final="{{ entry.final }}" 
  data-runningorder="" 
  data-rank="" 
  data-votes="?" 
  data-voters="?">
      
  <span id="scorecard-{{ entry.shortcode }}-position" class="position">⋯</span>
  <span id="scorecard-{{ entry.shortcode }}-score" class="score">⋯</span>
  
  <div class="country-meta">
    <span class="country">{{ entry.country }} {{ entry.emoji }} </span>
    <span class="artist-song">{{ entry.song }} by {{ entry.artist }}</span>
  </div>
  
</article>