{% include interface/sidebar-button.html %}

<section id="app-sidebar">

    <nav id="sidebar-navigation">

        <h1 id="app-title">{{ site.title }}</h1>

        <ul id="sidebar-navigation-buttons" class="sidebar">

            <li class="menu-item">
                <a class="menu-item--button" id="button-home" data-status="active" href="#home">
                    {% include interface/icon-home.svg %}

                    <span class="label">Home</span>
                </a>
            </li>

            <hr class="menu-separator">

            <li class="menu-item">
                <a class="menu-item--button" id="button-semi-final-one" data-status="false" href="#semi-final-one">
                    {% include interface/icon-scores.svg %}
                    <span class="label">Semi-final 1</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-item--button" id="button-semi-final-two" data-status="false" href="#semi-final-two">
                    {% include interface/icon-scores.svg %}
                    <span class="label">Semi-final 2</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-item--button" id="button-grand-final" data-status="false" href="#grand-final">
                    {% include interface/icon-scores.svg %}
                    <span class="label">Grand final</span>
                </a>
            </li>

        </ul>

    </nav>

</section>