<section id="app-sidebar">

    <nav id="sidebar-navigation">

        <h1>{{ site.title }}</h1>

        <ul class="sidebar">

            <li class="menu-item">
                <a class="menu-item active" href="">Home</a>
            </li>

            <li class="menu-item separator">
                <a class="menu-item" href="">Semi-final 1</a>
            </li>

            <li class="menu-item">
                <a class="menu-item" href="">Semi-final 2</a>
            </li>

            <li class="menu-item">
                <a class="menu-item" href="">Grand final</a>
            </li>

            <li class="menu-item separator">
                <a class="menu-item" href="">Settings</a>
            </li>

            <li class="menu-item">
                <a class="menu-item" href="">About</a>
            </li>

        </ul>

    </nav>

</section>