{% include interface/sidebar-button.html %}

<section id="app-sidebar">

    <nav id="sidebar-navigation">

        <h1 id="app-title">{{ site.title }}</h1>

        <ul id="sidebar-navigation-buttons" class="sidebar">

            <li class="menu-item">
                <a class="menu-item--button" id="button-home" data-status="active" href="#home">
                    {% include interface/icon-home.svg %}

                    <span class="label">Home</span>
                </a>
            </li>

            <hr class="menu-separator">

            <li class="menu-item">
                <a class="menu-item--button" id="button-vote" data-status="false" href="#vote">
                    {% include interface/icon-vote.svg %}
                    <span class="label">Vote</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-item--button" id="button-scores" data-status="false" href="#scores">
                    {% include interface/icon-scores.svg %}
                    <span class="label">Scores</span>
                </a>
            </li>

            <li class="menu-item hidden-tablet">
                <a class="menu-item--button" id="button-more" data-status="false" href="#more">
                    {% include interface/icon-more.svg %}
                    <span class="label">More</span>
                </a>
            </li>

            <hr class="menu-separator hidden">

            <li class="menu-item">
                <a class="menu-item--button" id="button-all-entries" data-status="false" href="#all-entries">
                    {% include interface/icon-all-entries.svg %}
                    <span class="label">All entries</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-item--button" id="button-upcoming-shows" data-status="false" href="#upcoming-shows">
                    {% include interface/icon-upcoming-shows.svg %}
                    <span class="label">Shows</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-item--button" id="button-about" data-status="false" href="#about">
                    {% include interface/icon-about.svg %}
                    <span class="label">About</span>
                </a>
            </li>

            <hr class="menu-separator hidden">

            <li class="menu-item">
                <a class="menu-item--button" id="button-admin" data-status="false" href="#admin">
                    {% include interface/icon-admin.svg %}
                    <span class="label">Admin</span>
                </a>
            </li>

        </ul>

    </nav>

</section>