<!-- {{ page.title }} -->
<section id="page-{{ page.title | slugify }}" class="{{ page.class }} container">
  <h1 class="largeTitle">About</h1>
  
  <h2>How it works</h2>
  
  <p><strong>Voting takes place throughout the show.</strong> You can vote at any time using the <a href="#vote">Vote</a> tab.</p>
  
  <p><strong>Vote for every country.</strong> You can award 1, 2, 3, 4, 5, 6, 7, 8, 10 or 12 points to each country.</p>
    
  <p>You can see an average of the points awarded to each entry on the <a href="#scores">Scores</a> tab. The winner of this year's Scorecard home vote is the entry with the highest average points.</p>
  
  
  <h2>Who created this</h2>
  
  <p>Created by <a href="//www.johnpe.art">John Peart</a>.</p>
</section>