---
title: Admin
---
<!-- {{ page.title }} -->
<section id="page-{{ page.title | slugify }}" class="{{ page.class }} container">
  <h1 class="largeTitle">Admin</h1>
  
  <h2>Current event</h2>
  <div class="admin--current-event two-column">
    <button class="button" onclick="setCurrentEvent('false')">None</button>
    <button class="button" onclick="setCurrentEvent('sf1')">Semi-final 1</button>
    <button class="button" onclick="setCurrentEvent('sf2')">Semi-final 2</button>
    <button class="button" onclick="setCurrentEvent('final')">Grand final</button>
  </div>
  
  <h2>Reset everything</h2>
  <div class="admin--reset one-column">
    <button onclick="resetEventData()" class="button">Reset all data</button>
  </div>
  
</section>