---
---

{% assign event = "final" %}    

<section id="page-scores" class="container">
  
  <h1 class="largeTitle">Grand final</h1>

  <p>The grand final of the 2022 Eurovision Song Contest is taking place on <strong>14 May 2022</strong>.</p>
  
  <p>During the live show, voting buttons will appear under each entry. You can award up to 12 points to each entry. Your points will be added to the points awarded by everyone else using Scorecard to determine the winner.</p>
  
  <p>Voting opens whilst each act is performing.</p>
  
  {% include interface/sort-buttons.html %}
  
  <section id="event--grand-final">
    {% assign entries = site.data.entries | sort: "finalrunningorder" %}
    {% for entry in entries %}
    {% if entry.final == true %}
      {% include interface/entry.html %}
    {% endif %}
    {% endfor %}
  </section>
  
</section>