---
---
<section id="page-home" class="container">
  
  <h1 class="largeTitle">Welcome to Scorecard</h1>
  
  <p class="lead">Your personal online scorecard that you can use whilst watching the Eurovision Song Contest.</p>
  
  <p>Vote for your favourite acts during each live show and view the live scores from everyone using Scorecard. You can only vote whilst each act during it's live performance – don't miss it!</p>
  
  <p>This app works best on big screen devices like laptops and tablets.</p> 
  
  <p>Install the app on your home screen to make the app easier to use.</p>

</section>