---
---
<section id="page-home" class="container">
  
  <h1 class="largeTitle">Welcome to Scorecard</h1>
  
  <p class="lead">Your personal online scorecard that you can use whilst watching the Eurovision Song Contest.</p>
  
  <p>Vote for your favourite acts during each live show and view the live scores from everyone using Scorecard.</p>
  
  <p><strong>Voting takes place throughout the show.</strong> You can vote at any time using the <a href="#vote">Vote</a> tab.</p>
  
  <p><strong>Vote for every country.</strong> You can award 1, 2, 3, 4, 5, 6, 7, 8, 10 or 12 points to each country.</p>
    
  <p>You can see an average of the points awarded to each entry on the <a href="#scores">Scores</a> tab. The winner of this year's Scorecard home vote is the entry with the highest average points.</p>
  
</section>