---
---
<section id="page-home" class="container">
  
  <h1 class="largeTitle">Welcome to Scorecard</h1>
  
  <p class="lead">Your personal online scorecard that you can use whilst watching the Eurovision Song Contest.</p>
  
  <p>Vote for your favourite acts during each live show and view the live scores from everyone using Scorecard.</p>
  
  <br><br>
  
  <h2>Add to homescreen</h2>
  
  <p>You can add this website to your home screen, which will make it look and function similar to a normal app.</p>

</section>