---
---
<section id="page-vote" class="container">
  
  <h1 class="largeTitle">More</h1>
  
  <ul class="list">
    <li class="list-item">
      <a class="list-item--button" id="button-upcoming-shows" href="#upcoming-shows">
        <span class="label">Upcoming shows</span>
        {% include interface/icon-chevron.svg %}
      </a>
    </li>
    <li class="list-item">
      <a class="list-item--button" id="button-about" href="#about">
        <span class="label">About</span>
        {% include interface/icon-chevron.svg %}
      </a>
    </li>  
  </ul>
  
</section>