---
---

<section id="page-scores" class="container">
  
  <section id="voting-unknown">
  
    <h1 class="largeTitle">Loading...</h1>
    
  </section>
  
  <section id="voting-closed">
    
    <h1 class="largeTitle">Voting is closed</h1>
    
    <p>During a live show, scores for each country will appear on this tab.</p>
	
	<p><strong>Voting takes place throughout the show.</strong> You can vote at any time using the <a href="#vote">Vote</a> tab.</p>
  
  	<p><strong>Vote for every country.</strong> You can award 1, 2, 3, 4, 5, 6, 7, 8, 10 or 12 points to each country.</p>
    
  </section>
  
  <section id="voting-open">
	  
    <h1 class="largeTitle">Scores</h1>
	
	<p class="lead">These are the average scores from everyone that has voted so far.</p>    

    <section id="live-scores">
      
      {% for entry in site.data.entries %}
      
        <article class="country-scorecard" id="scorecard-{{ entry.shortcode }}" 
          data-runningorder="0" 
          data-rank="0" 
          data-points="0" 
          data-votes="0"
          data-emoji="{{ entry.emoji }}"
        >
          
          <header class="score--header">
            <p id="scorecard-position-{{ entry.shortcode }}" class="scores-pos" data-runningorder="{{ entry.semifinal1 | default: '0' }}"></p>
          </header>
		      <section class="score--country">
			      <p class="country">{{ entry.country }}</p>  
		      </section>
          <section class="score--content">
            <p id="scorecard-{{ entry.shortcode }}-score" class="score">
                {% assign flag = entry.country | slugify | prepend: '/flags/' | append: '.svg' %}
                {% include {{ flag }} %}
            </p>
          </section>
          
        </article>
      
      {% endfor %}

    </section>
    
    <button class="fullscreen hidden-phone" id="button--full-screen">Go full screen</button>

  </section>
  
</section>