<section id="page-404" class="container">
    
  <div class="sort--scorecard">
    <button class="sort--button active" id="sort--running-order">Sort by running order</button>
    <button class="sort--button" id="sort--score">Sort by score</button>
  </div>
  
  <section id="event--semi-final-one">
    <h1 class="largeTitle">Semi-final 1</h1>
    
    <div class="country-scorecard">
      <span class="position">#00</span>
      <span class="country">Albania</span>
      <span class="score">00</span>
    </div>
    <div class="country-scorecard">
      <span class="position">#00</span>
      <span class="country">Austria</span>
      <span class="score">00</span>
    </div>
    <div class="country-scorecard">
      <span class="position">#00</span>
      <span class="country">Albania</span>
      <span class="score">00</span>
    </div>
    <div class="country-scorecard">
      <span class="position">#00</span>
      <span class="country">Austria</span>
      <span class="score">00</span>
    </div>
    <div class="country-scorecard">
      <span class="position">#00</span>
      <span class="country">Albania</span>
      <span class="score">00</span>
    </div>
    <div class="country-scorecard">
      <span class="position">#00</span>
      <span class="country">Austria</span>
      <span class="score">00</span>
    </div>
  </section>
  <section id="event--semi-final-two">
    <h1 class="largeTitle">Semi-final 2</h1>
  </section>
  <section id="event--grand-final">
    <h1 class="largeTitle">Grand final</h1>
  </section>
  
</section>