---
---

{% assign event = "semifinaltwo" %}    

<section id="page-scores" class="container">
  
  <h1 class="largeTitle">Semi-final 2</h1>

  <p>The first semi-final of the 2022 Eurovision Song Contest is taking place on <strong>12 May 2022</strong>.</p>
  
  <p>During the live show, voting buttons will appear under each entry. You can award up to 12 points to each entry. Your points will be added to the points awarded by everyone else using Scorecard to determine the winner.</p>
  
  <p>Voting opens whilst each act is performing.</p>
  
  <section id="event--semi-final-two">
    
    {% include interface/sort-buttons.html %}
    {% assign entries = site.data.entries | sort: "semifinalrunningorder" %}
    {% for entry in entries %}
    {% if entry.semifinaltwo == true %}
      {% include interface/entry.html %}
    {% endif %}
    {% endfor %}
    
  </section>
  
</section>