---
---  

<section id="page-vote" class="container">
  
  <section id="voting-unknown">
  
    <h1 class="largeTitle">Loading...</h1>
    
  </section>
  
  <section id="voting-closed">
  
    <h1 class="largeTitle">Voting is closed</h1>
	
	<p><strong>Voting takes place throughout the show.</strong> During a live show, voting buttons will appear on this tab.</p>
  
  	<p><strong>Vote for every country.</strong> You can award 1, 2, 3, 4, 5, 6, 7, 8, 10 or 12 points to each country.</p>
    	
  	<p>You can see an average of the points awarded to each entry on the <a href="#scores">Scores</a> tab. The winner of this year's Scorecard home vote is the entry with the highest average points.</p>
  
  </section>
  
  <section id="voting-open">
    
    <h1 class="largeTitle">Vote</h1>
    {% assign entries = site.data.entries %}
    
	{% for entry in entries %}
    <div id="vote-{{ entry.shortcode }}" class="vote" data-voted="false" data-runningorder="0">
      
      <div class="voting-info">
        <h2 class="voting-country">{{ entry.country }}</h2>
      </div>
    
      <div class="voting-buttons">
      	<button id="vote-{{ entry.shortcode }}-1pts" class="button voting-button vote-1-points" onclick="vote(1, '{{ entry.shortcode }}', 'plus')">
          <span class="button-label">1</span>
        </button>
      	<button id="vote-{{ entry.shortcode }}-2pts" class="button voting-button vote-2-points" onclick="vote(2, '{{ entry.shortcode }}', 'plus')">
          <span class="button-label">2</span>
        </button>
      	<button id="vote-{{ entry.shortcode }}-3pts" class="button voting-button vote-3-points" onclick="vote(3, '{{ entry.shortcode }}', 'plus')">
          <span class="button-label">3</span>
        </button>
      	<button id="vote-{{ entry.shortcode }}-4pts" class="button voting-button vote-4-points" onclick="vote(4, '{{ entry.shortcode }}', 'plus')">
          <span class="button-label">4</span>
        </button>
      	<button id="vote-{{ entry.shortcode }}-5pts" class="button voting-button vote-5-points" onclick="vote(5, '{{ entry.shortcode }}', 'plus')">
          <span class="button-label">5</span>
        </button>
      	<button id="vote-{{ entry.shortcode }}-6pts" class="button voting-button vote-6-points" onclick="vote(6, '{{ entry.shortcode }}', 'plus')">
          <span class="button-label">6</span>
        </button>
      	<button id="vote-{{ entry.shortcode }}-7pts" class="button voting-button vote-7-points" onclick="vote(7, '{{ entry.shortcode }}', 'plus')">
          <span class="button-label">7</span>
        </button>
      	<button id="vote-{{ entry.shortcode }}-8pts" class="button voting-button vote-8-points" onclick="vote(8, '{{ entry.shortcode }}', 'plus')">
          <span class="button-label">8</span>
        </button>
      	<button id="vote-{{ entry.shortcode }}-10pts" class="button voting-button vote-10-points" onclick="vote(10, '{{ entry.shortcode }}', 'plus')">
          <span class="button-label">10</span>
        </button>
      	<button id="vote-{{ entry.shortcode }}-12pts" class="button voting-button vote-12-points" onclick="vote(12, '{{ entry.shortcode }}', 'plus')">
          <span class="button-label">12</span>
        </button>
      </div>
      
      <div class="voting-voted">
        <p class="lead">You gave <span id="voted-{{ entry.shortcode }}" class="voting-voted--points" data-points="0"></span> points</p>
        <button class="button undo-button" onclick="undoVote('{{ entry.shortcode }}')">↺ Undo</button>
      </div>
	</div>
    {% endfor %}
    
  </div>
    
  </section>
  
</section>