.button {
  display: block;
  
  cursor: pointer;
  
  -webkit-appearance: none;
  background: none;
  
  border-radius: 10px;
  border: 2px solid;
  border-color: var(--systemTabsForegroundActive);
  color: var(--systemTabsForegroundActive);

  @each $style, $sizes in $toggle {
	  @include toggleSizes($style, map-get($sizes, "xs"),  map-get($sizes, "sm"),  map-get($sizes, "md"),  map-get($sizes, "lg"),  map-get($sizes, "xl"));
    padding: $container-padding !important;
    margin: 0 !important;
    text-align: center !important;
  }
  
  &:hover,
  &:focus,
  &:active,
  &.active,
  &[data-status='active'] {
		color: var(--systemTabsBackgroundActive);
		background: var(--systemTabsForegroundActive);
    text-decoration: none;
		path {
			fill: var(--systemTabsForegroundActive);
		}
	}
}

button.fullscreen {

  display: block;
  position: relative;
  
  width: 100%;
  cursor: pointer;
  
  -webkit-appearance: none;
  background: none;
  
  border: 2px solid;
  border-color: var(--systemTabsForegroundActive);
  border-radius: 10pt;
  margin: 20px 0 0;
  color: var(--systemTabsForegroundActive);

  @each $style, $sizes in $toggle {
	  @include toggleSizes($style, map-get($sizes, "xs"),  map-get($sizes, "sm"),  map-get($sizes, "md"),  map-get($sizes, "lg"),  map-get($sizes, "xl"));
    padding: $container-padding !important;
    text-align: center !important;
  }

	&:hover,
	&:focus,
	&:active,
	&.active,
  &[data-status='active'] {
		color: var(--systemTabsBackgroundActive);
		background: var(--systemTabsForegroundActive);

		path {
			fill: var(--systemTabsForegroundActive);
		}
	}
}

.undo-button {
  display: inline-block;
  padding: $container-padding * 0.5 !important;
  color: var(--systemTabsForegroundActive);
}

button[data-visible='false'] {
  display: none;
}