section#page-vote section#voting-open div#voting-cards {
    display: grid;
    grid-gap: 15px;
}

section#app {
    &[data-event='TEST'],
    &[data-event='SF1'],
    &[data-event='SF2'] {
        div#voting-cards {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(16, auto);
            grid-template-areas:
                "p1"
                "p2"
                "p3"
                "p4"
                "p5"
                "p6"
                "p7"
                "p8"
                "p9"
                "p10"
                "p11"
                "p12"
                "p13"
                "p14"
                "p15"
                "p16";
        }
    }
    &[data-event='FINAL'] {
        div#voting-cards {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(26, auto);
            grid-template-areas:
                "p1"
                "p2"
                "p3"
                "p4"
                "p5"
                "p6"
                "p7"
                "p8"
                "p9"
                "p10"
                "p11"
                "p12"
                "p13"
                "p14"
                "p15"
                "p16"
                "p17"
                "p18"
                "p19"
                "p20"
                "p21"
                "p22"
                "p23"
                "p24"
                "p25"
                "p26";
        }
    }
}    

div#voting-cards {
  div.vote[data-runningorder='1'] {
    grid-area: p1;
  }
  div.vote[data-runningorder='2'] {
    grid-area: p2;
  }
  div.vote[data-runningorder='3'] {
    grid-area: p3;
  }
  div.vote[data-runningorder='4'] {
    grid-area: p4;
  }
  div.vote[data-runningorder='5'] {
    grid-area: p5;
  }
  div.vote[data-runningorder='6'] {
    grid-area: p6;
  }
  div.vote[data-runningorder='7'] {
    grid-area: p7;
  }
  div.vote[data-runningorder='8'] {
    grid-area: p8;
  }
  div.vote[data-runningorder='9'] {
    grid-area: p9;
  }
  div.vote[data-runningorder='10'] {
    grid-area: p10;
  }
  div.vote[data-runningorder='11'] {
    grid-area: p11;
  }
  div.vote[data-runningorder='12'] {
    grid-area: p12;
  }
  div.vote[data-runningorder='13'] {
    grid-area: p13;
  }
  div.vote[data-runningorder='14'] {
    grid-area: p14;
  }
  div.vote[data-runningorder='15'] {
    grid-area: p15;
  }
  div.vote[data-runningorder='16'] {
    grid-area: p16;
  }
  div.vote[data-runningorder='17'] {
    grid-area: p17;
  }
  div.vote[data-runningorder='18'] {
    grid-area: p18;
  }
  div.vote[data-runningorder='19'] {
    grid-area: p19;
  }
  div.vote[data-runningorder='20'] {
    grid-area: p20;
  }
  div.vote[data-runningorder='21'] {
    grid-area: p21;
  }
  div.vote[data-runningorder='22'] {
    grid-area: p22;
  }
  div.vote[data-runningorder='23'] {
    grid-area: p23;
  }
  div.vote[data-runningorder='24'] {
    grid-area: p24;
  }
  div.vote[data-runningorder='25'] {
    grid-area: p25;
  }
  div.vote[data-runningorder='26'] {
    grid-area: p26;
  }
}

div.vote {
    
    @include material(
        $depth: 1, 
        $inset: false,
        $radius: 45px,
        $bg: transparent,
        $blur: true
    );
  
  p, h2 {
    padding: 0;
  }
  
}

div.vote[data-runningorder='0'] {
  display: none;
}

div.voting-info {
  display: grid;
  h2 {
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--systemForeground);
  }
  
  padding: $container-padding;
}

div.voting-buttons {
  display: grid;
  padding: 15px;
  
  grid-gap: 7.5px;
  
  grid-template-columns: repeat(6 1fr);
  grid-template-rows: 1fr 1fr;
  
  grid-template-areas: 
    "v1 v2 v3 v4 v10 v12"
    "v5 v6 v7 v8 v10 v12";
    
  .vote-1-points {
    grid-area: v1;
  }
  .vote-2-points {
    grid-area: v2;
  }
  .vote-3-points {
    grid-area: v3;
  }
  .vote-4-points {
    grid-area: v4;
  }
  .vote-5-points {
    grid-area: v5;
  }
  .vote-6-points {
    grid-area: v6;
  }
  .vote-7-points {
    grid-area: v7;
  }
  .vote-8-points {
    grid-area: v8;
  }
  .vote-10-points {
    grid-area: v10;
  }
  .vote-12-points {
    grid-area: v12;
  }
  
}

.voting-voted {
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  background: var(--gray-gradient1);
  padding: $container-padding $container-padding * 2;
  
  p {
    color: var(--systemForegroundTransparent);
    text-align: center;
  }
}

button.voting-button {
  width: 100%;
  border-radius: 0;
  
  border: none;
  
  @each $style, $sizes in $lead {
      @include toggleSizes($style, map-get($sizes, "xs"),  map-get($sizes, "sm"),  map-get($sizes, "md"),  map-get($sizes, "lg"),  map-get($sizes, "xl"));
  }
  
  .button-label {
    color: var(--systemBackground);
    font-weight: bold;
  }
  
    @include material(
        $depth: 1, 
        $inset: false,
        $radius: 45px,
        $bg: var(--systemBackgroundTransparent),
        $blur: true
    );

    
  &.vote-1-points {
    background: var(--systemRed);
  }
  &.vote-2-points {
    background: var(--systemRed);
  }
  &.vote-3-points {
    background: var(--systemRed);
  }
  &.vote-4-points {
    background: var(--systemRed);
  }
  &.vote-5-points {
    background: var(--systemRed);
  }
  &.vote-6-points {
    background: var(--systemRed);
  }
  &.vote-7-points {
    background: var(--systemRed);
  }
  &.vote-8-points {
    background: var(--systemRed);
  }
  &.vote-10-points {
    background: var(--systemRed);
  }
  &.vote-12-points {
    background: var(--systemRed);
  }
  &:hover,
  &:focus,
  &:active,
  &.active,
  &[data-status='active'] {
    @include material(
        $depth: 1, 
        $inset: true,
        $radius: 45px,
        $bg: var(--systemGray6),
        $blur: true
    );
  
    .button-label {
        color: var(--systemRed);
        font-weight: bold;
    }
  }
}

.vote[data-voted="true"] {
  .voting-buttons {
    display: none;
  }
  .voting-voted {
    display: grid;
  }
}

.vote[data-voted="false"] {
  .voting-buttons {
    display: grid;
  }
  .voting-voted {
    display: none;
  }
}
.vote .voting-voted * {
  text-align: center !important;
}
.vote .voting-voted .voting-voted--points {
  font-weight: 900;
}
.vote .voting-voted .voting-voted--points::before {
  display: inline-block;
  position: relative;
  content: attr(data-vote);
  font-weight: 900;
}