---
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="body" class="{{ page.layout | slugify }}">

    <section id="app"
      data-connection="false" 
      data-sidebar="show" 
      data-fullscreen="false" 
      data-layout="running" 
      data-event=""
    >

      <section id="app-panel">
       

      </section>
      
      <section id="app-tabbar">
      
          <nav id="navigation">
      
              <ul id="navigation-buttons" class="sidebar">
      
                  <li class="menu-item">
                      <a class="menu-item--button" id="button-home" data-status="active" href="#home">
                          {% include interface/icon-home.svg %}
                          <span class="label">Home</span>
                      </a>
                  </li>
      
                  <li class="menu-item">
                      <a class="menu-item--button" id="button-vote" data-status="false" href="#vote">
                          {% include interface/icon-vote.svg %}
                          <span class="label">Vote</span>
                      </a>
                  </li>
      
                  <li class="menu-item">
                      <a class="menu-item--button" id="button-scores" data-status="false" href="#scores">
                          {% include interface/icon-scores.svg %}
                          <span class="label">All scores</span>
                      </a>
                  </li>
      
                  <li class="menu-item">
                      <a class="menu-item--button" id="button-compare" data-status="false" href="#compare">
                          {% include interface/icon-compare.svg %}
                          <span class="label">Compare</span>
                      </a>
                  </li>
      
              </ul>
      
          </nav>
      
      </section>
      
    </section>
    
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js" preload></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-database.js" preload></script>
    <script type="text/javascript" src="{{ site.url | append: site.baseurl | append: site.js-path | append: '/app.js' }}" preload></script>

  </body>

</html>