<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="body" class="{{ page.layout | slugify }}">

  	{% include skiplink.html %}

    <section id="app" data-connection="false" data-sidebar="show" data-page="page-home">

      {% include interface/sidebar.html %}

      <section id="app-panel">

          <section id="page-home" class="page container">
            <h1 class="largeTitle">Home</h1>
          </section>

          <section id="page-scorecard" class="scorecard container">
            <h1 class="largeTitle">Scorecard</h1>
          </section>

          <section id="page-vote" class="scorecard container">
            <h1 class="largeTitle">Vote</h1>
          </section>

          <section id="page-more" class="page container">
            <h1 class="largeTitle">More</h1>
          </section>

      </section>

    </section>

    {% include firebase.html %}

  </body>

</html>