<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="body" class="{{ page.layout | slugify }}">

  	{% include skiplink.html %}

    <section id="app" data-connection="false" data-sidebar="show" data-page="page-home" data-happeningnow="unknown">

      {% include interface/sidebar.html %}

      <section id="app-panel">

        {% for page in site.pages %}
          {{ page.content }}
        {% endfor %}

      </section>

    </section>

    {% include firebase.html %}

  </body>

</html>