---
layout: default
---

<h1 class="largeTitle">Welcome to the {{ site.title }}.</h1>
<p class="lead">{{ site.description }}</p>

<p>Cheer on for your favourite entry using the <em>Vote</em> page for each event, and see what everyone things live on the <em>scorecard</em>.</p>

<p>For the best results, show the <em>scorecard</em> on a separate TV or monitor, and use your phone or tablet to <em>Vote</em>.</p>

<p>Toggle your device's “dark mode” to switch between a light and dark theme.</p>

<p><strong>Having fun?</strong> Let me know! Tweet me <a href="https://twitter.com/johnpeart">@johnpeart</a>.</p>

<h1>Welcome to the {{ site.title }}.</h1>
<p class="lead">{{ site.description }}</p>

<p>Cheer on for your favourite entry using the <em>Vote</em> page for each event, and see what everyone things live on the <em>scorecard</em>.</p>

<p>For the best results, show the <em>scorecard</em> on a separate TV or monitor, and use your phone or tablet to <em>Vote</em>.</p>

<p>Toggle your device's “dark mode” to switch between a light and dark theme.</p>

<p><strong>Having fun?</strong> Let me know! Tweet me <a href="https://twitter.com/johnpeart">@johnpeart</a>.</p>

<h1>Welcome to the {{ site.title }}.</h1>
<p class="lead">{{ site.description }}</p>

<p>Cheer on for your favourite entry using the <em>Vote</em> page for each event, and see what everyone things live on the <em>scorecard</em>.</p>

<p>For the best results, show the <em>scorecard</em> on a separate TV or monitor, and use your phone or tablet to <em>Vote</em>.</p>

<p>Toggle your device's “dark mode” to switch between a light and dark theme.</p>

<p><strong>Having fun?</strong> Let me know! Tweet me <a href="https://twitter.com/johnpeart">@johnpeart</a>.</p>

<h1>Welcome to the {{ site.title }}.</h1>
<p class="lead">{{ site.description }}</p>

<p>Cheer on for your favourite entry using the <em>Vote</em> page for each event, and see what everyone things live on the <em>scorecard</em>.</p>

<p>For the best results, show the <em>scorecard</em> on a separate TV or monitor, and use your phone or tablet to <em>Vote</em>.</p>

<p>Toggle your device's “dark mode” to switch between a light and dark theme.</p>

<p><strong>Having fun?</strong> Let me know! Tweet me <a href="https://twitter.com/johnpeart">@johnpeart</a>.</p>

<h1>Welcome to the {{ site.title }}.</h1>
<p class="lead">{{ site.description }}</p>

<p>Cheer on for your favourite entry using the <em>Vote</em> page for each event, and see what everyone things live on the <em>scorecard</em>.</p>

<p>For the best results, show the <em>scorecard</em> on a separate TV or monitor, and use your phone or tablet to <em>Vote</em>.</p>

<p>Toggle your device's “dark mode” to switch between a light and dark theme.</p>

<p><strong>Having fun?</strong> Let me know! Tweet me <a href="https://twitter.com/johnpeart">@johnpeart</a>.</p>